@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #b5e2f7;
}


#mainContent{
    margin-top: 15%;
    font-family: 'Roboto', sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    height: 150%;
    border: solid 0px transparent;
    border-radius: 5px;
    background-color: tomato;
}

#timer{
    background-color: rgb(255, 162, 145);
    width: 25%;
    text-align: center;
    font-size: xx-large;
    margin-left: 36.5%;
    margin-right: 36.5%;
    margin-bottom: 10%;
    margin-top: 10%;
}

.box2 {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.teste {
    color: transparent;
    border: solid 1px transparent;
    border-radius: 5px;
}